{% extends 'base.html' %}

{% block head %}
<style>
    /* Стили для контейнера профиля */
    .profile-container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }

    /* Стили для заголовка профиля */
    .profile-container h1 {
        font-size: 2rem;
        margin-top: 0;
        color: #333;
    }

    /* Стили для деталей профиля */
    .profile-container p {
        font-size: 1rem;
        margin: 10px 0;
        color: #666;
    }
    .profile-container img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 20px;
        border: 2px solid #ccc;
        transition: border-color 0.3s;
    }

    .profile-container img:hover {
        border-color: #007bff;
    }

    /* Стили для списка курсов */
    .profile-container ul {
        list-style-type: none;
        padding: 0;
    }

    .profile-container li {
        margin: 10px 0;
    }

    .profile-container a {
        display: block;
        padding: 10px;
        background-color: #f1f1f1;
        border-radius: 5px;
        text-decoration: none;
        color: #333;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .profile-container a:hover {
        background-color: #e63946;
        color: white;
    }

    @media (max-width: 600px) {
        .profile-container {
            padding: 15px;
        }

        .profile-container h1 {
            font-size: 1.5rem;
        }

        .profile-container p {
            font-size: 0.9rem;
        }

        .profile-container a {
            padding: 8px;
            font-size: 0.9rem;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="profile-container">
    <img src="{{ url_for('static', path=user.image_path)}}" alt="User Profile Picture">
    <h1>{{ user.username }}</h1>
    <p>Email: {{ user.email }}</p>

    <h2>Enrolled Courses:</h2>
    <ul>
        {% for course in user.enrolled_courses %}
        <li>
            <a href="{{ url_for('get_courses_by_id', course_id=course.id) }}">{{ course.title }}</a>
        </li>
        {% else %}
        <li>No enrolled courses.</li>
        {% endfor %}
    </ul>

    <h2>Created Courses:</h2>
    <ul>
        {% for course in user.created_courses %}
        <li>
            <a href="{{ url_for('get_courses_by_id', course_id=course.id) }}">{{ course.title }}</a>
        </li>
        {% else %}
        <li>No created courses.</li>
        {% endfor %}
    </ul>

    <div class="create-course-btn">
        <a href="{{ url_for('get_create_form') }}" class="btn btn-success">Create New Course</a>
    </div>
    <div class="create-course-btn">
        <a href="{{ url_for('update_profile_form') }}" class="btn btn-secondary">Update your Profile</a>
    </div>
</div>
{% endblock %}
